<div class="index-container">
  <div class="index-container-info">
    <h2>Most Popular Gyms</h2>
    <ul>
      <% @gyms.each_with_index do |gym, index| %>
        <li><%= link_to gym.name.capitalize, gym_path(gym), class: 'list-items', data: { marker_id: "marker-#{index}" } %></li>
      <% end %>
    </ul>
    <%= link_to new_gym_path, id: 'toggle-form-link' do %>
      <i class="fa-solid fa-plus plus-icon" id="plus-gym"></i>
    <% end %>
  </div>
  <%= render 'components/map' %>
</div>
<br>
